.imageContainer {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    z-index: 9999;
}

.imageContent{
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.22);
}

.imageContent:hover{
    transform: translateY(-8px);
    box-shadow: 0px 30px 40px 0px rgba(0,0,0,.2);
}


.imageContent img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.imageContent h3 {
    color: white;
    position: relative;
    bottom: 50px;
    text-align: center;
}

@media screen and (max-width:767.98px){
    .imageContainer{
        flex-direction: column;
        gap: 20px;
        height: 70vh;
        transform: translateY(-10%);
        align-items: center;
        margin-bottom: -10%;
    }
    .imageContent{
        width: 80%;
    }
}

@media screen and (min-width:768px){
    .imageContainer{
        transform: translateY(-50%);
    }
}