.container {
  width: 100%;
  background-color: #601e1e;
}

.content {
  width: 100%;
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 9999;
  margin-bottom: 50px;
}

.title::before {
  content: "";
  background-color: white;
  height: 1px;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.title h3 {
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 0 15px;
}

.beforeAfterList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.beforeAfterList li {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

.beforeAfterList li::before {
  content: "Tap to clean !";
  color: white;
  font-size: 20px;
  text-shadow: black 2px 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 9999;
}

.beforeAfterList img {
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 25px 20px -20px;
  cursor: pointer;
}

.seeMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.seeMore a {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 20px 60px;
  font-size: 20px;
  background: rgb(46, 42, 42);
  border-radius: 50px;
  transition: all .3s ease;
  margin-bottom: 20px;
}

.seeMore a:hover {
  color: rgb(46, 42, 42);
  background: white;
  transform: scale(1.1);
}

.waveSeparator {
  background-color: #ac8f8f;
}

.waveSeparator svg {
  bottom: 0;
  top: -2px;
}

@media screen and (max-width: 767.98px) {
  .title {
    padding-top: 20px;
  }
  .title::before {
    width: 80%;
    top: 75%;
  }
  .beforeAfterList li {
    width: 100%;
  }
  .beforeAfterList img {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .title::before {
    top: 50%;
    width: 25%;
  }
  .beforeAfterList li {
    width: 33%;
  }
  .beforeAfterList img {
    width: 50%;
  }
  .waveSeparator {
    padding-bottom: 50px;
  }
}
